<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <img src="../../../assets/img/WBLMS-logo.jfif" alt="WBLMS-logo" />
          <h3 class="pt-2 font-weight-bold">WBLMS - Register</h3>
        </div>
        <div class="panel-body p-3">
          <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
            <div class="row">
              <div class="col-sm">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['firstName'].touched &&
                      (registerForm.hasError('required', 'firstName') ||
                        registerForm.hasError('maxlength', 'firstName'))
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      type="text"
                      formControlName="firstName"
                      placeholder="First Name"
                      maxlength="21"
                    />
                  </div>
                  <small
                    *ngIf="
                      registerForm.controls['firstName'].touched &&
                      registerForm.hasError('required', 'firstName')
                    "
                    class="text-danger"
                  >
                    First Name is required
                  </small>
                  <small
                    *ngIf="
                      registerForm.controls['firstName'].touched &&
                      registerForm.hasError('maxlength', 'firstName')
                    "
                    class="text-danger"
                  >
                    First Name cannot have more than 20 chars
                  </small>
                </div>
              </div>
              <div class="col-s m">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['lastName'].touched &&
                      (registerForm.hasError('required', 'lastName') ||
                        registerForm.hasError('maxlength', 'lastName'))
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      type="text"
                      formControlName="lastName"
                      placeholder="Last Name"
                      maxlength="25"
                    />
                  </div>
                  <small
                    *ngIf="
                      registerForm.controls['lastName'].touched &&
                      registerForm.hasError('required', 'lastName')
                    "
                    class="text-danger"
                  >
                    Last Name is required
                  </small>
                  <small
                    *ngIf="
                      registerForm.controls['lastName'].touched &&
                      registerForm.hasError('maxlength', 'lastName')
                    "
                    class="text-danger"
                  >
                    Last Name cannot have more than 20 chars
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['contactNumber'].touched &&
                      (registerForm.hasError('required', 'contactNumber') ||
                        registerForm.hasError('pattern', 'contactNumber'))
                    "
                  >
                    <i class="fa fa-phone p-2"></i>
                    <!-- <label for="">+91</label> -->
                    +91
                    <input
                      style="margin-left: 2px"
                      type="text"
                      formControlName="contactNumber"
                      placeholder="Contact Number"
                      maxlength="10"
                      minlength="10"
                    />
                  </div>
                  <small
                    *ngIf="
                      registerForm.controls['contactNumber'].touched &&
                      registerForm.hasError('required', 'contactNumber')
                    "
                    class="text-danger"
                  >
                    *Contact Number is required
                  </small>
                  <small
                    *ngIf="
                      registerForm.controls['contactNumber'].touched &&
                      registerForm.controls['contactNumber']?.value.length !=
                        10 &&
                      !registerForm.hasError('required', 'contactNumber')
                    "
                    class="text-danger"
                  >
                    *10digits are needed
                  </small>
                  <small
                    *ngIf="
                      registerForm.controls['contactNumber'].touched &&
                      registerForm.hasError('pattern', 'contactNumber') &&
                      !registerForm.hasError('required', 'contactNumber')
                    "
                    class="text-danger"
                  >
                    *Contact Number start with 6 or greater number
                  </small>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['genderId'].touched &&
                      registerForm.get('genderId')?.value == '0'
                    "
                  >
                    <select
                      class="form-select"
                      formControlName="genderId"
                      aria-label="Gender"
                    >
                      <option selected disabled [value]="0">
                        Select Gender
                      </option>
                      <option
                        *ngFor="let gender of gendersData"
                        [value]="gender.id"
                      >
                        {{ gender.genderName }}
                      </option>
                    </select>
                  </div>
                </div>
                <small
                  *ngIf="
                    registerForm.controls['genderId'].touched &&
                    registerForm.get('genderId')?.value == '0'
                  "
                  class="text-danger"
                >
                  *Gender is required
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['roleId'].touched &&
                      registerForm.get('roleId')?.value == '0'
                    "
                  >
                    <select
                      class="form-select"
                      formControlName="roleId"
                      aria-label="Role"
                      (change)="onChangeRole()"
                    >
                      <option selected disabled [value]="0">Select Role</option>
                      <option *ngFor="let role of roleData" [value]="role.id">
                        {{ role.roleName }}
                      </option>
                    </select>
                  </div>
                </div>
                <small
                  *ngIf="
                    registerForm.controls['roleId'].touched &&
                    registerForm.get('roleId')?.value == '0'
                  "
                  class="text-danger"
                >
                  *Role is required
                </small>
              </div>
              <div class="col-sm">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      registerForm.controls['managerId'].touched &&
                      registerForm.get('managerId')?.value == 0
                    "
                  >
                    <select
                      class="form-select"
                      formControlName="managerId"
                      aria-label="Manager Name"
                    >
                      <option selected disabled [value]="0">
                        Select Manager
                      </option>
                      <option
                        *ngFor="let manager of managerData"
                        [value]="manager.id || initialEmployeeData.managerId"
                      >
                        {{ manager.managerName }}
                      </option>
                    </select>
                  </div>
                </div>
                <small
                  *ngIf="
                    registerForm.controls['managerId'].touched &&
                    registerForm.get('managerId')?.value == '0'
                  "
                  class="text-danger"
                >
                  *Manager is required
                </small>
              </div>
            </div>

            <div class="form-group pt-3">
              <div
                class="input-field"
                [class.error]="
                  registerForm.controls['emailAddress'].touched &&
                  (registerForm.hasError('required', 'emailAddress') ||
                    registerForm.hasError('email', 'emailAddress'))
                "
              >
                <span class="fa fa-envelope p-2"></span>
                <input
                  type="text"
                  formControlName="emailAddress"
                  placeholder="Email"
                />
              </div>
              <small
                *ngIf="
                  registerForm.controls['emailAddress'].touched &&
                  registerForm.hasError('required', 'emailAddress')
                "
                class="text-danger"
                >*Email Address is required</small
              >
              <small
                *ngIf="
                  registerForm.controls['emailAddress'].touched &&
                  registerForm.hasError('email', 'emailAddress')
                "
                class="text-danger"
                >*Email Address is invalid</small
              >
            </div>
            <div class="form-group pt-3" *ngIf="!initialEmployeeData.id">
              <div
                class="input-field"
                [class.error]="
                  registerForm.controls['password'].touched &&
                  (registerForm.hasError('required', 'password') ||
                    registerForm.hasError('pattern', 'password'))
                "
              >
                <span class="fa fa-lock p-2"></span>
                <input
                  [type]="type"
                  formControlName="password"
                  placeholder="Password"
                  maxlength="25"
                  minlength="8"
                />
                <span
                  (click)="hideShowPassword()"
                  class="fa {{ eyeIcon }}"
                ></span>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  registerForm.controls['password'].touched &&
                  registerForm.hasError('required', 'password')
                "
                >*Password is required
              </small>
              <small
                class="text-danger"
                *ngIf="
                  registerForm.controls['password'].touched &&
                  registerForm.hasError('pattern', 'password')
                "
                >*Password must include atleast one <br />
                number and alphabet and special character
              </small>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">
              {{ initialEmployeeData.id == 0 ? "Register" : "Update" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
