 <div class="col-sm-12 row" *ngIf="initialUserSessionObj.role !== 'Admin'">
  <app-leaves-remaining-dashboard
    [userSessionObj]="initialUserSessionObj"
  ></app-leaves-remaining-dashboard>
</div> 

<div class="row mt-4">
  <ul class="nav nav-tabs">
    <li *ngIf="initialUserSessionObj.role !== 'Admin'" class="nav-item">
      <a
        [routerLink]="['leaveRequests']"
        routerLinkActive="active"
        class="nav-link"
        aria-current="page"
        >Self Leave Requests</a
      >
    </li>
    <li
      *ngIf="
        initialUserSessionObj.role === 'HR Manager' ||
        initialUserSessionObj.role === 'Team Lead'
      "
      class="nav-item"
    >
      <a
        [routerLink]="['teamLeaveRequests']"
        routerLinkActive="active"
        class="nav-link"
        >Team Leave Requests</a
      >
    </li>
    <li *ngIf="initialUserSessionObj.role === 'Admin'" class="nav-item">
      <a
        (click)="handleHRManagerLeaveRequestClick()"
        [routerLink]="['hr-manager']"
        routerLinkActive="active"
        class="nav-link"
        >HR Manager Leave Requests</a
      >
    </li>
    <li *ngIf="initialUserSessionObj.role === 'Admin'" class="nav-item">
      <a
        (click)="handleTeamLeadLeaveRequestClick()"
        [routerLink]="['teamLead']"
        routerLinkActive="active"
        class="nav-link"
        >Team Lead Leave Requests</a
      >
    </li>
    <li *ngIf="initialUserSessionObj.role === 'Admin'" class="nav-item">
      <a
        (click)="handleDeveloperLeaveRequestClick()"
        [routerLink]="['developer']"
        routerLinkActive="active"
        class="nav-link"
        >Developer Leave Requests</a
      >
    </li>
    <li *ngIf="initialUserSessionObj.role === 'Admin'" class="nav-item">
      <a
        (click)="handleHRLeaveRequestClick()"
        [routerLink]="['hr']"
        routerLinkActive="active"
        class="nav-link"
        >HR Leave Requests</a
      >
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
