<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div
    class="side-nav-button p-2 me-3 text-light"
    (click)="this.SideNavToggled()"
  >
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="navbar-brand px-4" id="logo"> WBLMS </a>
  <div class="flex align-items-center">
    <p-tag>
      {{ this.initialUserSessionObj.role }}
    </p-tag>
  </div>
  <!-- <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          href="#"
        >
          Menu</a
        >
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item">Childs 2</a></li>
          <li><a href="#" class="dropdown-item">Child 3</a></li>
          <li><a href="#" class="dropdown-item">Child 4</a></li>
        </ul>
      </li>
    </ul>
  </div> -->

  <div class="profile-logo dropstart ms-auto">
    <p-chip
      styleClass="profile-logo"
      class="btn btn-outline-light dropdown-toggle pointer-cursor"
      class=".bg-dark"
      data-bs-toggle="dropdown"
      label="{{ this.initialUserSessionObj.fullName | htmlDecode }}"
      image="../../../assets/img/WBLMS-logo.jfif"
      alt="Avatar image"
    />
    <ul class="dropdown-menu dropdown-menu-dark">
      <li>
        <a class="dropdown-item btn" [routerLink]="['profile']">Profile</a>
      </li>
      <li><a class="dropdown-item btn" (click)="handleLogout()">Log Out</a></li>
    </ul>
  </div>
</nav>
