<!-- Table 1 -->
<div class="card my-4">
  <p-table
    #dt2
    [value]="selfLeaveRequests"
    [scrollable]="true"
    scrollHeight="60vh"
    dataKey="id"
    [paginator]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="lazyRequest.rows"
    [first]="lazyRequest.first"
    [rowsPerPageOptions]="[5, 10, 15]"
    [lazy]="true"
    (onLazyLoad)="lazyLoadSelfRequestsData($event)"
    [loading]="loading"
    [totalRecords]="totalCount"
    [customSort]="true"
    (sortFunction)="lazyLoadSelfRequestsData($event)"
    loadingIcon="fa fa-spinner fa-spin"
    [tableStyle]="{ width: '100vw - 4rem' }"
    styleClass="my-spinner"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <p-header *ngIf="initialUserSessionObj.role !== 'Admin'"
          >Created Leave Requests</p-header
        >
        <p-header *ngIf="initialUserSessionObj.role === 'Admin'"
          >Employee Leave Requests</p-header
        >
        <!-- <input
          type="text"
          [(ngModel)]="searchKeyword"
          (ngModelChange)="handleSearch()"
          name="searchKeyword"
          class="form-control mr-2"
          style="z-index: 1"
          placeholder="Search"
        />
        <button style="z-index: 1" class="btn btn-primary mx-3">
          <i class="fa fa-search"></i>
        </button> -->
        <button
          style="z-index: 1"
          class="btn btn-primary me-4"
          data-bs-toggle="modal"
          data-bs-target="#addLeaveRequestModal"
          [disabled]="this.leaveStatusesCount.leavesRemaining === 0"
        >
          Apply Leave
        </button>
      </div>
      <div
        class="d-flex gap-4 align-items-center justify-content-evenly py-4 flex-shrink flex-wrap"
      >
        <span class="p-input-icon-right p-float-label">
          <i class="fa-solid fa-search"></i>
          <input
            id="searchKeyword"
            type="text"
            pInputText
            [(ngModel)]="searchKeyword"
            (ngModelChange)="filterData()"
          />
          <label for="searchKeyword">Search</label>
        </span>
        <span class="p-float-label">
          <p-multiSelect
            inputId="float-label"
            [options]="tableHeaderObj"
            [(ngModel)]="selectedFields"
            optionLabel="name"
            optionValue="value"
            display="chip"
            [showClear]="true"
            (onClear)="handleClearSelectedFields()"
            [showToggleAll]="false"
            [maxSelectedLabels]="2"
            (onChange)="filterData()"
          ></p-multiSelect>
          <label for="float-label">Filter Fields</label>
        </span>
        <span class="p-float-label">
          <p-dropdown
            styleClass="dropdown-size"
            inputId="float-label"
            [options]="leaveTypes"
            optionLabel="leaveTypeName"
            [showClear]="true"
            placeholder=""
            optionValue="leaveTypeName"
            (onChange)="filterLeaveTypeData($event)"
          ></p-dropdown>
          <label for="float-label">Select LeaveType</label>
        </span>
        <span class="p-float-label">
          <p-calendar
            id="rangeDate"
            [(ngModel)]="rangeDates"
            selectionMode="range"
            [readonlyInput]="true"
            [showIcon]="true"
            (ngModelChange)="filterDate()"
            [showClear]="true"
            (onClearClick)="filterDate()"
            dateFormat="yy-mm-dd"
            dataType="string"
          />
          <label for="rangeDate" style="text-wrap: wrap"
            >Select Leave Requests Range</label
          >
        </span>
        <span class="p-float-label">
          <p-calendar
            styleClass="calendar-size"
            [readonlyInput]="true"
            [(ngModel)]="requestDateFilterField"
            (onClearClick)="filterRequestDate()"
            (ngModelChange)="filterRequestDate()"
            [showIcon]="true"
            dateFormat="yy-mm-dd"
            dataType="string"
            [showClear]="true"
          ></p-calendar>
          <label for="float-label">Filter Request Date</label>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="leaveType">
          Leaves Type <p-sortIcon field="leaveType"></p-sortIcon>
        </th>
        <th style="width: 10%" pSortableColumn="reason">
          Reason <p-sortIcon field="reason"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="startDate">
          Start Date <p-sortIcon field="startDate"></p-sortIcon>
        </th>
        <th pSortableColumn="endDate">
          End Date <p-sortIcon field="endDate"></p-sortIcon>
        </th>
        <th style="width: 10%" pSortableColumn="numberOfLeaveDays">
          Number Of Days <p-sortIcon field="numberOfLeaveDays"></p-sortIcon>
        </th>
        <th pSortableColumn="requestDate">
          Request Date <p-sortIcon field="requestDate"></p-sortIcon>
        </th>
        <th pSortableColumn="approvedDate">
          Approved Date <p-sortIcon field="approvedDate"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.leaveType }}</td>
        <td
          style="cursor: pointer"
          class="reason"
          data-bs-toggle="tooltip"
          data-placement="right"
          title="Click to see Reason"
          (click)="getReason(request.reason)"
        >
          {{ request.reason.slice(0, 10) | htmlDecode }}...
        </td>
        <td>
          <p-tag
            *ngIf="request.status === 'Approved'"
            severity="success"
            [value]="request.status"
          />
          <p-tag
            *ngIf="request.status === 'Rejected'"
            severity="danger"
            [value]="request.status"
          />
          <p-tag
            *ngIf="request.status === 'Pending'"
            severity="primary"
            [value]="request.status"
          />
        </td>
        <td>{{ request.startDate }}</td>
        <td>{{ request.endDate }}</td>
        <td>
          {{
            request.numberOfLeaveDays < 1
              ? "Half Day"
              : request.numberOfLeaveDays
          }}
        </td>
        <td>{{ request.requestDate }}</td>
        <td
          *ngIf="request.approvedDate !== '0001-01-01'; else elseApprovedDate"
        >
          {{ request.approvedDate }}
        </td>
        <ng-template #elseApprovedDate>
          <td>Not Approved</td>
        </ng-template>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" class="text-center">
          <img
            src="../../../assets/img/search_7067177.png"
            alt="empty search"
            width="50"
            height="50"
          />
          <br />
          No Leave Requests found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal -->
<div
  class="modal fade mt-5"
  id="addLeaveRequestModal"
  tabindex="-1"
  aria-labelledby="addLeaveRequestModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-leave-request
      (submitLeaveRequestClicked)="fetchSelfRequestData()"
    ></app-leave-request>
  </div>
</div>
