<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img src="../../../assets/img/WBLMS-logo.jfif" alt="WBLMS-logo" />
            <h3 class="pt-3 font-weight-bold">WBLMS - Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    loginForm.controls['email'].touched &&
                    (loginForm.hasError('required', 'email') ||
                      loginForm.hasError('email', 'email'))
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="email"
                  />
                </div>
                <small
                  *ngIf="
                    loginForm.controls['email'].touched &&
                    loginForm.hasError('required', 'email')
                  "
                  class="text-danger"
                  >*Email is required</small
                >
                <small
                  *ngIf="
                    loginForm.controls['email'].touched &&
                    loginForm.hasError('email', 'email')
                  "
                  class="text-danger"
                  >*Email is Invalid*</small
                >
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    loginForm.controls['password'].touched &&
                    (loginForm.hasError('required', 'password') ||
                      loginForm.hasError('minlength', 'password') ||
                      loginForm.hasError('maxlength', 'password'))
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="password"
                    [type]="type"
                    placeholder="Password"
                  />
                  <span
                    (click)="hideShowPassword()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
                <small
                  *ngIf="
                    loginForm.controls['password'].touched &&
                    loginForm.hasError('required', 'password')
                  "
                  class="text-danger"
                  >*Password is required</small
                >
                <small
                  *ngIf="
                    loginForm.controls['password'].touched &&
                    loginForm.hasError('minlength', 'password')
                  "
                  class="text-danger"
                  >*Password should be of min length 6</small
                >
                <small
                  *ngIf="
                    loginForm.controls['password'].touched &&
                    loginForm.hasError('maxlength', 'password')
                  "
                  class="text-danger"
                  >*Password cannot exceed length 25</small
                >
              </div>
              <div
                class="form-inline fr mt-4 d-flex justify-content-end pointer-event"
              >
                <a
                  id="forgot"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  class="font-weight-bold"
                  >Forgot password?</a
                >
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">
          <span style="font-size: 25px; font-weight: 700"
            >Forget your password?</span
          ><br />
          <small>Please provide your E-mail we will send the reset link</small>
        </p>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field">
            <span class="fa fa-user p-2"></span>
            <input
              [(ngModel)]="resetPasswordEmail"
              (ngModelChange)="checkValidEmail($event)"
              type="text"
              placeholder="Email"
            />
          </div>
        </div>
        <small *ngIf="!resetPasswordEmail" class="text-danger"
          >*Email is required*</small
        >
        <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger"
          >*Email is Invalid*</small
        >
      </div>
      <div class="modal-footer">
        <button
          id="closeBtn"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button (click)="confirmToSend()" type="button" class="btn btn-primary">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
