.colorized-image {
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg);
}
.max-height-scrollable {
  max-height: 250px;
  overflow-y: auto;
}
/* .input-field.error {
  border: 1px solid red;
  color: red;
}   */
.calendar-expanded {
  flex-wrap: wrap;
  width: 50px;
  height: 100px;
  size: 100px;
}
.input-field.error .form-select,
.input-field.error .form-control,
.input-field.error .form-check-input {
  border: 1px solid red;
  color: red;
}
.text-danger {
  color: red;
}

.form-label {
  font-weight: bold;
  color: #495057;
}
.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

:host ::ng-deep {
  /* .custom-calendar .p-datepicker {
    top: 0 !important;
  } */
  .custom-calendar .p-datepicker {
    transform: scale(0.8); /* Scale down the entire calendar */
  }
}
.error-border {
  border: 1px solid red;
}