.colorized-image {
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg);
}
.max-height-scrollable {
  max-height: 250px;
  overflow-y: auto;
}
/* .input-field.error {
  border: 1px solid red;
  color: red;
}   */
.calendar-expanded {
  flex-wrap: wrap;
  width: 50px;
  height: 100px;
  size: 100px;
}
.input-field.error .form-select,
.input-field.error .form-control,
.input-field.error .form-check-input {
  border: 1px solid red;
  color: red;
}
.text-danger {
  color: red;
}

.form-label {
  font-weight: bold;
  color: #495057;
}
.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

:host ::ng-deep {
  /* .custom-calendar .p-datepicker {
    top: 0 !important;
  } */
  .custom-calendar .p-datepicker {
    transform: scale(0.8); /* Scale down the entire calendar */
  }
}
.error-border {
  border: 1px solid red;
}

.loader {
  z-index: 200;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
  background: rgba(255, 255, 255, 0.5);
}

.load-overlay {
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
