.colorized-image {
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(180deg);
}
.max-height-scrollable {
  max-height: 150px;
  overflow-y: auto;
}
 /* .input-field.error {
  border: 1px solid red;
  color: red;
}   */

.input-field.error .form-select,
.input-field.error .form-control,
.input-field.error .form-check-input {
  border: 1px solid red;
  color: red;
}
.text-danger {
  color: red;
}