<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            [src]="this.employeeData.profilePic"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <h5 class="my-3">
            {{
              employeeData.firstName + " " + employeeData.lastName | htmlDecode
            }}
          </h5>
          <p class="text-muted mb-1">{{ employeeData.roleName }}</p>
          <p class="text-muted mb-4">{{ employeeData.genderName }}</p>
          <!-- <form
            (ngSubmit)="handleFileUpload()"
            class="d-flex justify-content-center mb-2"
          >
            <input type="file" (change)="onUpload($event)" name="imageFile" />
            <button
              type="submit"
              data-mdb-button-init
              data-mdb-ripple-init
              class="btn btn-outline-primary ms-1"
            >
              Submit
            </button>
          </form> -->
          <p-toast></p-toast>
          <p-fileUpload
            mode="basic"
            chooseLabel="Choose"
            name="demo[]"
            accept="image/*"
            [maxFileSize]="1000000"
            [customUpload]="true"
            (uploadHandler)="onUpload($event)"
            #fileUpload
          ></p-fileUpload>
          <!-- 
            <button
              type="button"
              data-mdb-button-init
              data-mdb-ripple-init
              class="btn btn-outline-primary ms-1"
            >
              Message
            </button> -->
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{
                  employeeData.firstName + " " + employeeData.lastName
                    | htmlDecode
                }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ employeeData.emailAddress | htmlDecode }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ employeeData.contactNumber | htmlDecode }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Manager Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ employeeData.managerName || "" | htmlDecode }}
              </p>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
