<!-- *ngIf="'Admin' === 'Admin'" -->

<div>
  <h2 style="text-align: center">{{ barChartTitle }}</h2>
  <div class="card" class="card">
    <!-- <input type="select" value="2016" minlength="4" maxlength="4" /> -->
    <!-- <p-dropdown
      [options]="searchByYears"
      [(ngModel)]="selectYear"
      name="selectYear"
      optionLabel="year"
      [showClear]="true"
      placeholder="Select a Year"
    ></p-dropdown> -->
    <!-- <label for="selectYear" class="form-label">Search Year</label>
    <select
      name="selectYear"
      id="selectYear"
      class="form-select"
      [(ngModel)]="selectYear"
    >
      <option selected [value]="null">Select a Year</option>
      <option *ngFor="let year of searchByYears" [value]="year">
        {{ year }}
      </option>
    </select> -->

    <p-chart type="bar" [data]="data" [options]="options" />
  </div>
</div>

<div class="card mt-4">
  <p-table
    [value]="employeeData"
    selectionMode="single"
    [(selection)]="selectedEmployee"
    [scrollable]="true"
    scrollHeight="60vh"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [paginator]="true"
    [rows]="lazyRequest.rows"
    [first]="lazyRequest.first"
    [rowsPerPageOptions]="[5, 10, 15]"
    [lazy]="true"
    (onLazyLoad)="lazyLoadRequestData($event)"
    [totalRecords]="totalCount"
    [customSort]="true"
    (sortFunction)="lazyLoadRequestData($event)"
    [loading]="loading"
    loadingIcon="fa fa-spinner fa-spin"
    [tableStyle]="{ width: '100vw - 4rem' }"
    styleClass="my-spinner"
  >
    <ng-template pTemplate="caption">
      <!-- <i class="fa fa-search bg-success"></i> -->
      <div class="d-flex gap-4 mt-2">
        <h3 style="text-align: center">Employee Details</h3>
        <span class="p-input-icon-right p-float-label">
          <i class="fa-solid fa-search"></i>
          <input
            id="searchKeyword"
            type="text"
            [(ngModel)]="search"
            (ngModelChange)="getEmployeeAsync()"
            pInputText
          />
          <label for="searchKeyword">Search</label>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th *ngFor="let col of tableHeader;let sortCol of tableSortColumn" pSortableColumn="{{sortCol}}">
          {{ col  }}
          <p-sortIcon field="{{sortCol}}"></p-sortIcon>
        </th> -->
        <th>Sr No.</th>
        <th pSortableColumn="firstName">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="emailAddress">
          Email Address <p-sortIcon field="emailAddress"></p-sortIcon>
        </th>
        <th pSortableColumn="contactNumber">
          Contact number <p-sortIcon field="contactNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="genderName">
          Gender <p-sortIcon field="genderName"></p-sortIcon>
        </th>
        <th pSortableColumn="roleName">
          Role <p-sortIcon field="roleName"></p-sortIcon>
        </th>
        <th pSortableColumn="managerName">
          Manager Name <p-sortIcon field="managerName"></p-sortIcon>
        </th>
        <th pSortableColumn="joiningDate">
          Joining Date <p-sortIcon field="joiningDate"></p-sortIcon>
        </th>
        <th pSortableColumn="leaveBalance">
          Balance Leave <p-sortIcon field="balanceLeaveRequest"></p-sortIcon>
        </th>
        <th pSortableColumn="totalLeaveRequest">
          Total Leave <p-sortIcon field="totalLeaveRequest"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
      <tr
        tooltipPosition="right"
        [pSelectableRow]="employee"
        style="cursor: pointer"
        [ngClass]="{ row_active: 'row-active' }"
        (click)="
          getLeaveRequestByYear(
            employee.id,
            employee.firstName,
            employee.lastName
          )
        "
      >
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ employee.firstName | htmlDecode }}</td>
        <td>{{ employee.lastName | htmlDecode }}</td>
        <td>{{ employee.emailAddress | htmlDecode }}</td>
        <td>{{ employee.contactNumber | htmlDecode }}</td>
        <td>{{ employee.genderName | htmlDecode }}</td>
        <td>{{ employee.roleName | htmlDecode }}</td>
        <td>{{ employee.managerName | htmlDecode }}</td>
        <td>{{ employee.joiningDate }}</td>
        <td>{{ employee.balanceLeaveRequest }}</td>
        <td>{{ employee.totalLeaveRequest }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
