:host ::ng-deep {
  .dropdown-size {
    min-width: 200px;
    max-width: 300px;
  }
  .calendar-size {
    max-width: 220px;
  }
  .my-spinner {
    color: #3377f2;
  }
  .my-spinner .p-datatable-loading-overlay {
    background: rgba(255, 255, 255, 0.5);
  } 
  .table-card {
    z-index: 1;
  }
}
