<div class="card my-4">
  <p-table
    #dt2
    [value]="leaveRequests"
    [scrollable]="true"
    scrollHeight="60vh"
    dataKey="id"
    [paginator]="true"
    [rows]="lazyRequest.rows"
    [first]="lazyRequest.first"
    [rowsPerPageOptions]="[5, 10, 15]"
    [lazy]="true"
    (onLazyLoad)="lazyLoadSelfRequestsData($event)"
    [totalRecords]="totalCount"
    [customSort]="true"
    (sortFunction)="lazyLoadSelfRequestsData($event)"
    [loading]="loading"
    [tableStyle]="{ width: '100vw - 4rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <p-header> Leave Requests</p-header>
        <span class="p-input-icon-right">
          <i class="fa-solid fa-search"></i>
          <input
            type="text"
            pInputText
            [(ngModel)]="searchKeyword"
            (ngModelChange)="filterData()"
          />
        </span>
        <p-multiSelect
          [options]="tableHeaderObj"
          [(ngModel)]="selectedFields"
          optionLabel="name"
          optionValue="value"
          placeholder="Filter Fields"
          display="chip"
          [showClear]="true"
          [showToggleAll]="false"
          [maxSelectedLabels]="2"
          (onChange)="filterData()"
        ></p-multiSelect>
        <p-dropdown
          [options]="leaveTypes"
          optionLabel="leaveTypeName"
          [showClear]="true"
          placeholder="Select LeaveType"
          optionValue="leaveTypeName"
          (onChange)="filterLeaveTypeData($event)"
        ></p-dropdown>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="leaveType">
          Leave Type <p-sortIcon field="leaveType"></p-sortIcon>
        </th>
        <th pSortableColumn="reason">
          Reason <p-sortIcon field="reason"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="startDate">
          Start Date <p-sortIcon field="startDate"></p-sortIcon>
        </th>
        <th pSortableColumn="endDate">
          End Date <p-sortIcon field="endDate"></p-sortIcon>
        </th>
        <th pSortableColumn="numberOfLeaveDays">
          Number Of Days <p-sortIcon field="numberOfLeaveDays"></p-sortIcon>
        </th>
        <th pSortableColumn="requestDate">
          Request Date <p-sortIcon field="requestDate"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.firstName }}</td>
        <td>
          {{ request.lastName }}
        </td>
        <td>{{ request.leaveType }}</td>
        <td
          style="cursor: pointer"
          data-toggle="tooltip"
          title="To see reason"
          data-placement="top"
          (click)="showReason(request.reason)"
        >
          {{ request.reason.slice(0, 10) }}...
        </td>
        <td>
          <p-tag
            *ngIf="request.status === 'Approved'"
            severity="success"
            [value]="request.status"
          />
          <p-tag
            *ngIf="request.status === 'Rejected'"
            severity="danger"
            [value]="request.status"
          />
          <p-tag
            *ngIf="request.status === 'Pending'"
            severity="primary"
            [value]="request.status"
          />
        </td>
        <td>
          {{ request.startDate }}
        </td>
        <td>
          {{ request.endDate }}
        </td>
        <td class="text-end">
          {{
            request.numberOfLeaveDays < 1
              ? "Half Day"
              : request.numberOfLeaveDays
          }}
        </td>
        <td>
          {{ request.requestDate }}
        </td>
        <td>
          <div
            class="button-group d-flex gap-2 justify-content-center align-items-center"
          >
            <button
              class="btn btn-success"
              (click)="handleApproveClick(request.id)"
            >
              <i class="fa fa-solid fa-check"></i>
            </button>
            <button
              class="btn btn-danger"
              (click)="handleRejectClick(request.id)"
            >
              <i class="fa fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" class="text-center">
          <img
            src="../../../assets/img/search_7067177.png"
            alt="empty search"
            width="50"
            height="50"
          />
          <br />
          No Leave Requests found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
