<div class="row flex-wrap" *ngIf="this.userSessionObj.role !== 'Admin'">
  <div class="col-xl-3 col-md-6 col-lg-3 col-sm-12">
    <div class="card border-3 border-warning">
      <div
        class="leaves-taken-card card-body d-flex align-items-center justify-content-evenly"
      >
        <h5 class="card-title">Leaves Taken</h5>

        <p-knob
          styleClass="leavesKnob"
          [(ngModel)]="leaveStatusesCount.approvedLeavesCount"
          [readonly]="true"
          [min]="0"
          [max]="leaveBalance.totalLeaves || 1"
          [strokeWidth]="6"
          valueColor="#eab308"
          rangeColor="#fde047"
          textColor="black"
        ></p-knob>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 col-lg-3 col-sm-12">
    <div class="card border-3 border-success">
      <div
        class="leaves-notapproved-card card-body d-flex align-items-center justify-content-evenly"
      >
        <h5 class="card-title">Leaves Not Approved</h5>

        <p-knob
          [(ngModel)]="leaveStatusesCount.pendingLeavesCount"
          [readonly]="true"
          [min]="0"
          [max]="leaveBalance.totalLeaves || 1"
          [strokeWidth]="6"
          valueColor="#22c55e"
          rangeColor="#86efac"
          textColor="black"
        ></p-knob>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 col-lg-3 col-sm-12">
    <div class="card border-3 border-primary">
      <div
        class="leaves-remaining-card card-body d-flex align-items-center justify-content-evenly"
      >
        <h5 class="card-title">Leaves Remaining</h5>

        <p-knob
          [(ngModel)]="leavesRemaining"
          [readonly]="true"
          [min]="0"
          [max]="leaveBalance.totalLeaves || 1"
          [strokeWidth]="6"
          valueColor="#3b82f6"
          rangeColor="#93c5fd"
          textColor="black"
        ></p-knob>
      </div>
    </div>
  </div>

  <div class="col-col-xl-3 col-md-6 col-lg-3 col-sm-12">
    <div class="card border-3 border-danger">
      <div
        class="leaves-total-card card-body d-flex align-items-center justify-content-evenly"
      >
        <h5 class="card-title">Total Leaves</h5>

        <p-knob
          [(ngModel)]="leaveBalance.totalLeaves"
          [readonly]="true"
          [min]="0"
          [max]="leaveBalance.totalLeaves || 1"
          [strokeWidth]="6"
          valueColor="#ef4444"
          rangeColor="#fca5a5"
          textColor="black"
        ></p-knob>
      </div>
    </div>
  </div>
</div>
<!-- Things to make dynamic 1. card bg- 2.card-title 3. card-text 4. col-sm- -->
