<div class="row" *ngIf="this.userSessionObj.role !== 'Admin'">
  <div class="col-sm-4">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Employee Id</h5>
        <p class="card-text">
          {{ leaveBalance.employeeId }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title">Total Leaves</h5>
        <p class="card-text">
          {{ leaveBalance.totalLeaves }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-danger">
      <div class="card-body">
        <h5 class="card-title">Balance Leaves</h5>
        <p class="card-text">
          {{ leaveBalance.balance }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Things to make dynamic 1. card bg- 2.card-title 3. card-text 4. col-sm- -->
